.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;

  &__logo img,
  &__menu-button img {
    display: block;
    width: 100%;
  }

  &__logo {
    display: block;

    img {
      max-width: 60px;
    }
  }

  &__menu-button {
    $button-side-padding: 7px;

    padding: 9px $button-side-padding;
    margin-right: -$button-side-padding;
    border: none;
    background: none;

    img {
      max-width: 16px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $tablet) {
  .header {
    padding-top: 77px;
  }
}

@media (min-width: $desktop) {
  .header {
    padding-top: 92px;
    padding-bottom: 88px;
  }
}
