.page-title {
  padding-top: 8px;
  padding-bottom: 112px;
}

@media (min-width: $tablet) {
  .page-title {
    max-width: 570px;
    padding-bottom: 144px;

    &--focused {
      max-width: 535px;
      padding-bottom: 64px;
    }
  }
}

@media (min-width: $desktop) {
  .page-title {
    max-width: 730px;
    padding-top: 40px;
    padding-bottom: 240px;

    &--focused {
      max-width: 730px;
      padding-bottom: 80px;
    }
  }
}
