.page-title {
  padding-bottom: 48px;
}

@media (min-width: $tablet) {
  .page-title {
    max-width: 570px;
    padding-bottom: 56px;

    &--focused {
      max-width: 535px;
      padding-bottom: 64px;
    }
  }
}

@media (min-width: $desktop) {
  .page-title {
    max-width: 730px;
    padding-bottom: 152px;

    &--focused {
      max-width: 730px;
      padding-bottom: 80px;
    }
  }
}
