.section {
  padding: 0 30px;
  box-sizing: border-box;
}

@media (min-width: $tablet) {
  .section {
    width: 90%;
    margin: 0 auto;

    &--narrow {
      width: 85%;
    }

    &--wide {
      width: 100%;
    }
  }
}

@media (min-width: $desktop) {
  .section {
    width: 100%;
    max-width: 920px;

    &--narrow {
      width: 100%;
      max-width: 730px;
    }

    &--wide {
      max-width: 1140px;
    }
  }
}
