.section {
  padding: 0 30px;
  box-sizing: border-box;

  &--spaced {
    padding-bottom: 64px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet) {
  .section {
    width: 85%;
    margin: 0 auto;

    &--narrow {
      width: 80%;
    }

    &--wide {
      width: 100%;
    }

    &--centered-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--spaced {
      padding-bottom: 88px;
    }
  }
}

@media (min-width: $desktop) {
  .section {
    width: 100%;
    max-width: 980px;

    &--narrow {
      width: 100%;
      max-width: 730px;
    }

    &--wide {
      max-width: 1140px;
    }

    &--spaced {
      padding-bottom: 128px;
    }
  }
}
