.showcase {
  padding-bottom: 64px;

  &__content {
    display: block;

    text-decoration: none;
    color: $black;
  }
}

@media (min-width: $tablet) {
  .showcase {
    padding-bottom: 88px;
  }
}

@media (min-width: $desktop) {
  .showcase {
    padding-bottom: 120px;

    &__content {
      transform: scale(1);
      transition: transform 0.15s linear;
      will-change: transform;

      > * {
        transform: translateZ(0);
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
