.title {
  padding-top: 8px;
  padding-bottom: 112px;
}

@media (min-width: $tablet) {
  .title {
    padding-bottom: 144px;

    &--focus {
      display: flex;
      justify-content: center;
      padding-bottom: 64px;
    }

    &__text {
      max-width: 570px;
    }

    &--focus &__text {
      max-width: 535px;
    }
  }
}

@media (min-width: $desktop) {
  .title {
    padding-top: 40px;
    padding-bottom: 240px;

    &--focus {
      padding-bottom: 112px;
    }

    &__text,
    &--focus &__text {
      max-width: 730px;
    }
  }
}
