.section-container {
  padding: 32px 30px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 30px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -16px;

  > * {
    margin: 16px;
  }
}

@media (min-width: $tablet) {
  .container {
    max-width: 78%;
    margin: 0 auto;
  }

  .section-container {
    width: 85%;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 44px;

    &--narrow {
      width: 80%;
    }

    &--wide {
      width: 100%;
    }

    &--centered-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    // zero padding helpers
    &--pt-0 { padding-top: 0; }
    &--pb-0 { padding-bottom: 0; }
  }
}

@media (min-width: $desktop) {
  .section-container {
    width: 100%;
    max-width: 980px;

    &--narrow {
      width: 100%;
      max-width: 790px;
    }

    &--wide {
      max-width: 1170px;
    }

    // extra padding-top
    &--pt-l { padding-top: 60px; }
    &--pt-xl { padding-top: 80px; }

    // extra padding-bottom
    &--pb-l { padding-bottom: 60px; }
    &--pb-xl { padding-bottom: 80px; }
  }
}

@media (min-width: $large-desktop) {
  .container {
    max-width: 100%;
  }
}
