.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 30px;
}

@media (min-width: $tablet) {
  .container {
    max-width: 78%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
