.section-container {
  padding: 0 30px;
  box-sizing: border-box;

  &--spaced {
    padding-bottom: 64px;

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 30px;
}

@media (min-width: $tablet) {
  .container {
    max-width: 78%;
    margin: 0 auto;
  }

  .section-container {
    width: 85%;
    margin: 0 auto;

    &--narrow {
      width: 80%;
    }

    &--wide {
      width: 100%;
    }

    &--centered-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--spaced {
      padding-bottom: 88px;
    }
  }
}

@media (min-width: $large-desktop) {
  .container {
    max-width: 100%;
  }

  .section-container {
    width: 100%;
    max-width: 980px;

    &--narrow {
      width: 100%;
      max-width: 730px;
    }

    &--wide {
      max-width: 1170px;
    }

    &--spaced {
      padding-bottom: 136px;
    }
  }
}
