@media (min-width: $desktop) {
  .on-hover-scale-up {
    display: block;
    text-decoration: none;
    color: $black;

    transform: scale(1);
    transition: transform 0.15s linear;

    &:hover {
      transform: scale(1.05);
    }

    > * {
      will-change: transform;
    }
  }
}
