html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $black;

  // making sure the fonts will render the same across different web browsers
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  background: $white;
}

h1 {
  font-size: 1.375rem;
  line-height: 140%;
}

p {
  margin-bottom: 24px;

  font-size: 1rem;
  line-height: 160%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: $tablet) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: $desktop) {
  h1 {
    font-size: 2.25rem;
  }
}
